<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="/css/style.css">-->
    <title>OfflineWeb</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div>
        <div class="navbar navbar-inverse navbar-fixed top">
            <div class="container">
                <div class="navbar-header" style="padding-bottom: 15px; padding-top: 15px">
                    <a class="navbar-brand" th:href="@{/intro}">PELO-FIT</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="container-xxl" style="background-color: #b6e1fc; outline: 3px solid #0099cc;">
                <div class="circle-padding">
                    <span class="circle-image">
                    <img src="https://funart.pro/uploads/posts/2021-03/1617068131_19-p-oboi-prirodnaya-voda-19.jpg"/>
                     </span>
                </div>
                <div class="circle-padding">
                    <a th:href="@{/main}" class="navbar-brand" style="display: flex; justify-content: center;">Главная страница</a>
                </div>
                <div class="circle-padding">
                    <a th:href="@{/health/1}" class="navbar-brand" style="display: flex; justify-content: center;">Мое здоровье</a>
                </div>
                <div class="circle-padding">
                    <a th:href="@{/online_webinars}" class="navbar-brand" style="display: flex; justify-content: center;">Онлайн вебинары</a>
                </div>
                <div class="circle-padding">
                    <a th:href="@{/offline_webinars}" class="navbar-brand" style="display: flex; justify-content: center;">Оффлайн вебинары</a>
                </div>
                <div class="circle-padding">
                    <a class="navbar-brand" style="display: flex; justify-content: center;">Настройки</a>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="container-xxl" style="background-color: #b6e1fc; outline: 3px solid #0099cc; height: 800px">
                <div th:each="webinar :${webinars}">
                    <div class="lol" style="height: 50px"></div>
                    <div class="new" style="background-color: #84cdfa; outline: 3px solid #0099cc; width: 750px; height:180px; margin-left: 40px; overflow-x:hidden; word-break: break-all;">
                        <div class="container">
                            <div class="row">
                                <div class="col" style="padding-left: 30px;">
                                    <p th:text="'Название: ' + ${webinar.getName()}" class="car" style="font-size: 20px; margin-bottom: 9px;"></p>
                                    <p th:text="'Описание: ' + ${webinar.getDescription()}" class="car" style="font-size: 20px; margin-bottom: 9px"></p>
                                    <p th:text="'Тренер: ' + ${webinar.getCoach()}" class="car" style="font-size: 20px; margin-bottom: 9px"></p>
                                    <p th:text="'Начало: ' + ${webinar.getStartDate()}" class="car" style="font-size: 20px; margin-bottom: 9px"></p>
                                    <p th:text="'Окончание: ' + ${webinar.getEndDate()}" class="car" style="font-size: 20px; margin-bottom: 9px"></p>
                                    <a th:href="${webinar.getLink()}">Ссылка на вебинар</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>

</section>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>